@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://db.onlinewebfonts.com/c/a8d7b985e4eb8c5d34f2302ffe83e917?family=Nike+Futura+ND");
@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550; 
  font-style: normal;
}
.title {
  font-family: "Inter1", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800; 
  font-style: normal;
}
.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-up {
  animation: slideUp 0.3s ease forwards;
}

.slide-down {
  animation: slideDown 0.3s ease forwards;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
/* Tùy chỉnh chấm Swiper */
.swiper-pagination-bullet {
  background-color: white !important; /* Màu trắng */
  opacity: 0.6;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
.nike-title {
  font-family: "Nike Futura ND", sans-serif;
  font-size: 4.75rem;
  line-height: 0.9;
  font-weight: 500;
  text-transform: uppercase;
}
.nike-title-for-mobile {
  font-family: "Nike Futura ND", sans-serif;
  font-size: 2.50rem;
  line-height: 0.9;
  font-weight: 500;
  text-transform: uppercase;
}
@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
.animate-scroll-reverse {
  animation: scroll-reverse 30s linear infinite;
}
